* {
  padding: 0;
  margin: 0;
}

.hero {
  height: 100vh;
  background-image: linear-gradient(
      rgba(0, 105, 233, 0.8),
      rgba(0, 105, 233, 0.8)
    ),
    url(img/background.jpg);
  background-position: center;
  font-family: sans-serif;
}
.nav-bar {
  display: flex;
  height: 12%;
}
.navbar-left {
  flex-basis: 70%;
  border-bottom: 1px solid #ffffff;
}
.navbar-right {
  flex-basis: 30%;
  background-color: #fff;
}
.navbar-right ul {
  float: right;
  padding: 35px 50px 10px 50px;
}
.navbar-right ul li {
  display: inline-block;
  list-style: none;
  margin-left: 40px;
}
.navbar-right ul li img {
  width: 20px;
}
.navbar-inner {
  display: flex;
  align-items: cneter;
  padding: 45px 50px 10px 50px;
}
.navbar-inner ul {
  margin-left: 20px;
  z-index: 2;
}
.navbar-inner ul li {
  margin: 0 10px;
  display: inline-block;
}
.navbar-inner ul li a {
  text-decoration: none;
  color: #fff;
}
.navbar-inner img {
  margin-top: -30px;
}
.content {
  display: flex;
  height: 88%;
}

.content-left {
  flex-basis: 70%;
  position: relative;
}
.content-right {
  flex-basis: 30%;
  position: relative;
  background: #fff;
}

.upper-text {
  left: 15%;
  top: 20%;
  position: absolute;
  color: lightblue;
  opacity: 0.5;
}
.upper-text h1 {
  font-size: 150px;
  margin-left: 150px;
  line-height: 90px;
  font-style: italic;
}
.upper-text h2 {
  font-size: 90px;
}
.bottom-text {
  left: 55%;
  bottom: 12%;
  position: absolute;
  color: lightblue;
  opacity: 0.5;
}
.bottom-text h1 {
  font-size: 100px;
  margin-left: 100px;
  line-height: 50px;
}

.bottom-text h2 {
  font-size: 60px;
}
.bottom-text h3 {
  font-size: 40px;
  margin-left: 225px;
  line-height: 10px;
}
